<!DOCTYPE html>

@{ 
    string currentPage = String.Empty;
    if (Context != null && Context.Request != null && Context.Request.Path != null)
        { currentPage = Context.Request.Path; }
    
    bool isAdmin = User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin");
}

@* Get Previous Page Name *@
@{
    var referrer = "";
    if (Context != null && Context.Request != null && Context.Request.Headers != null)
        referrer = Context.Request.Headers["Referer"].ToString();
    string previousPageName = "";

    if (!string.IsNullOrEmpty(referrer))
    {
        var uri = new Uri(referrer);
        previousPageName = System.IO.Path.GetFileNameWithoutExtension(uri.LocalPath);
    }
}

<html>
    <head>
        <title>Servindustria</title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
        <link rel="shortcut icon" type="image/x-icon" href="~/imgs/favicon.png">
    </head>

    <body>
        <header>
            @if (!currentPage.EndsWith("/")) {
                <div class="companyName @(previousPageName == "" ? "fromIndex" : "")">
                    <p>Servindustria</p>
                </div>
            }
            <ul>
                <li class="@(currentPage.EndsWith("/") ? "currentPage" : "exit-trigger")">
                    <a asp-page="Index">Página Inicial</a>
                </li>

                @if (isAdmin) {
                    <li class="@(currentPage.EndsWith("/admin/pedidosContacto") ? "currentPage" : "exit-trigger")">
                        <a asp-page="AdminCallRequests">Pedidos de Contacto</a>
                    </li>
                <li class="@(currentPage.EndsWith("/admin/gerirItems") ? "currentPage" : "exit-trigger")">
                    <a asp-page="AdminManageItems">Gerir Items</a>
                </li>
                } else {
                    <li class="@(currentPage.EndsWith("/produtos") ? "currentPage" : "exit-trigger")">
                        <a asp-page="Products">Produtos</a>
                    </li>
                    <li class="@(currentPage.EndsWith("/tabelasTecnicas") ? "currentPage" : "exit-trigger")">
                        <a asp-page="TechnicalTables">Tabelas Técnicas</a>
                    </li>
                    <li class="@(currentPage.EndsWith("/contacto") ? "currentPage" : "exit-trigger")">
                        <a asp-page="Contact">Contacto</a>
                    </li>  
                }
                
                @if (User.Identity != null && User.Identity.IsAuthenticated) {
                    <li class="exit-trigger">
                        <form id="logout-form" method="post" asp-page="/Authentication" asp-page-handler="Logout">
                            @Html.AntiForgeryToken()
                            <a href="#" id="logout-button">Logout</a>
                        </form>
                    </li>
                    <script src="~/js/logout.js" asp-append-version="true"></script>
                } else {
                    <li class="@(currentPage.EndsWith("/autenticacao") ? "currentPage" : "exit-trigger")">
                        <a asp-page="Authentication">Login / Registar</a>
                    </li>
                }
            </ul>
        </header>
        
        @if (!isAdmin) {
            <div id="movableContainer" style="@(!currentPage.EndsWith("/") ? "transform: translate(50px, 150px);" : "")">
                <img src="~/imgs/phone.png" alt="Ligue-me" id="movablePhone"/>

                <div id="popupBox">
                    <p>Quer ser contactado?</p>
                    <p>Digite o seu número!</p>
                    <div id="callRequest-error" class="error"></div>
                    <div id="callRequest-success" class="success"></div>
                    <form id="callRequest-form" class="formClass" method="post" asp-page="/Contact" asp-page-handler="AdminCallRequest">
                        @Html.AntiForgeryToken()
                        <input type="text" name="Name" placeholder="Nome" required/>
                        <input type="text" name="Company" placeholder="Empresa (opcional)"/>
                        <input type="number" name="Phone" placeholder="Nº Telefone / Telemóvel" required/>
                        <input type="text" name="Message" placeholder="Observações (opcional)" />
                        <input type="submit" value="Ligar-me"/>
                    </form>
                </div>
            </div>
        }

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>
                &copy; 2024 - Servindustria
            </p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        @if (!isAdmin) {
            <script src="~/js/movableIcon.js" asp-append-version="true"></script>
        }
        @RenderSection("Scripts", required: false)
    </body>
</html>