<!DOCTYPE html>

@{ 
    string currentPage = String.Empty;
    if (Context != null && Context.Request != null && Context.Request.Path != null)
        { currentPage = Context.Request.Path; }
}

<html>
    <head>
        <title>Servindustria</title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
        <link rel="shortcut icon" type="image/x-icon" href="~/imgs/favicon.png">
    </head>

    <body>
        <header>
            <ul>
                <li class="@(currentPage.EndsWith("/") ? "currentPage" : "")">
                    <a asp-page="Index">Página Inicial</a>
                </li>
                <li class="@(currentPage.EndsWith("/sobre") ? "currentPage" : "")">
                    <a asp-page="About">Sobre</a>
                </li>
                <li class="@(currentPage.EndsWith("/contacto") ? "currentPage" : "")">
                    <a asp-page="Contact">Contacto</a>
                </li>
                @if (User.Identity != null && User.Identity.IsAuthenticated) {
                    <li>
                        <form id="logout-form" method="post" asp-page="/Authentication" asp-page-handler="Logout">
                            @Html.AntiForgeryToken()
                            <a href="#" id="logout-button">Logout</a>
                        </form>
                    </li>
                    <script src="~/js/logout.js" asp-append-version="true"></script>
                } else {
                    <li class="@(currentPage.EndsWith("/authentication") ? "currentPage" : "")">
                        <a asp-page="Authentication">Login / Registar</a>
                    </li>
                }
            </ul>
        </header>

        <main>
            <div id="movableContainer">
               <img src="~/imgs/phone.png" alt="Ligue-me" id="movablePhone"/>

                <div id="popupBox" style="display: none;">
                    <span id="closePopup" onclick="closePopup()">&times;</span>
                    <p>Quer ser contactado?</p>
                    <p>Digite o seu número!</p>
                    <div id="callRequest-error" class="error"></div>
                    <div id="callRequest-success" class="success"></div>
                    <form id="callRequest-form" method="post" asp-page="/Contact" asp-page-handler="CallRequest">
                        @Html.AntiForgeryToken()
                        <input type="text" name="Name" placeholder="Nome" required/>
                        <input type="text" name="Company" placeholder="Empresa (opcional)"/>
                        <input type="number" name="Phone" placeholder="Nº Telefone / Telemóvel" required/>
                        <input type="text" name="Message" placeholder="Observações (opcional)" />
                        <input type="submit" value="Ligar-me"/>
                    </form>
                </div>
            </div>
            @RenderBody()
        </main>

        <footer>
            <p>
                &copy; 2024 - Servindustria
            </p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>