<!DOCTYPE html>

@{ 
    string currentPage = String.Empty;
    if (Context != null && Context.Request != null && Context.Request.Path != null)
        { currentPage = Context.Request.Path; }
}

<html>
    <head>
        <title>Servindustria</title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
        <link rel="shortcut icon" type="image/x-icon" href="~/imgs/favicon.png">
    </head>

    <body>
        <header>
            <ul>
                <li class="@(currentPage.EndsWith("/") ? "currentPage" : "")">
                    <a asp-page="Index">Página Inicial</a>
                </li>
                <li class="@(currentPage.EndsWith("/sobre") ? "currentPage" : "")">
                    <a asp-page="About">Sobre</a>
                </li>
                <li class="@(currentPage.EndsWith("/contacto") ? "currentPage" : "")">
                    <a asp-page="Contact">Contacto</a>
                </li>
                @if (User.Identity != null && User.Identity.IsAuthenticated) {
                    <li>
                        <form id="logoutForm" method="post" asp-page="/Authentication" asp-page-handler="Logout">
                            <a href="#" id="logout-button">Logout</a>
                        </form>
                    </li>
                    <script src="~/js/logout.js" asp-append-version="true"></script>
                } else {
                    <li class="@(currentPage.EndsWith("/authentication") ? "currentPage" : "")">
                        <a asp-page="Authentication">Login / Registar</a>
                    </li>
                }
            </ul>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>
                &copy; 2024 - Servindustria
            </p>
        </footer>

        <script src="~/js/main.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>