@page "/admin/pedidosContacto/{UnseenAdminCallRequestsCurrentPage?}/{SeenAdminCallRequestsCurrentPage?}"
@model AdminCallRequestsModel

<div class="bigContainer">
    <div class="smallContainer">
        <h1>Pedidos de Chamada Não Vistos</h1>

        @if (Model.TotalUnseenAdminCallRequests == 0)
        {
            <br>
            <p>Já viu todos os pedidos de chamada!</p>
        }

        @foreach (var item in Model.UnseenAdminCallRequests)
        {
            <div class="smallContainerEntry">
                <p>Nome: @item.Name</p>
                @if (item.Company != null)
                {
                    <p>Empresa: @item.Company</p>
                }
                <p>Telefone: @item.Phone</p>
                @if (item.Message != null) {
                    <p>Mensagem: @item.Message</p>
                }
                <p>Data: @item.Date.ToString("dd-MM-yyyy HH:mm:ss")</p>

                <form method="post" asp-page="AdminCallRequests" asp-page-handler="SeenUnseen">
                    <input type="hidden" name="UnseenAdminCallRequestsCurrentPage" value="@(Model.UnseenAdminCallRequestsCurrentPage)" />
                    <input type="hidden" name="SeenAdminCallRequestsCurrentPage" value="@(Model.SeenAdminCallRequestsCurrentPage)" />
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Visto" />
                </form>
            </div>
        }

        <div class="pagination">
            <form method="post" asp-page="AdminCallRequests" asp-page-handler="Page">
                <input type="hidden" name="UnseenAdminCallRequestsCurrentPage" value="@(Model.UnseenAdminCallRequestsCurrentPage - 1)" />
                <input type="hidden" name="SeenAdminCallRequestsCurrentPage" value="@(Model.SeenAdminCallRequestsCurrentPage)" />
                <input class="@(Model.UnseenAdminCallRequestsCurrentPage <= 1 ? "invisible-btn" : "")" type="submit" value="<" />
            </form>

            @if (Model.TotalUnseenAdminCallRequests != 0)
            {
                <span>Página @Model.UnseenAdminCallRequestsCurrentPage</span>
            }

            <form method="post" asp-page="AdminCallRequests" asp-page-handler="Page">
                <input type="hidden" name="UnseenAdminCallRequestsCurrentPage" value="@(Model.UnseenAdminCallRequestsCurrentPage + 1)" />
                <input type="hidden" name="SeenAdminCallRequestsCurrentPage" value="@(Model.SeenAdminCallRequestsCurrentPage)" />
                <input class="page-btn @(Model.UnseenAdminCallRequestsCurrentPage * Model.PageSize >= Model.TotalUnseenAdminCallRequests ? "invisible-btn" : "")" type="submit" value=">" />
            </form>
        </div>
    </div>

    <div class="smallContainer">
        <h1>Pedidos de Chamada Vistos</h1>

        @if (Model.TotalSeenAdminCallRequests == 0)
        {
            <br>
            <p>Não existem pedidos de chamada vistos!</p>
        }

        @foreach (var item in Model.SeenAdminCallRequests)
        {
            <div class="smallContainerEntry">
                <p>Nome: @item.Name</p>
                @if (item.Company != null)
                {
                    <p>Empresa: @item.Company</p>
                }
                <p>Telefone: @item.Phone</p>
                @if (item.Message != null) {
                    <p>Mensagem: @item.Message</p>
                }
                <p>Data: @item.Date.ToString("dd-MM-yyyy HH:mm:ss")</p>

                <form method="post" asp-page="AdminCallRequests" asp-page-handler="SeenUnseen">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="UnseenAdminCallRequestsCurrentPage" value="@(Model.UnseenAdminCallRequestsCurrentPage)" />
                    <input type="hidden" name="SeenAdminCallRequestsCurrentPage" value="@(Model.SeenAdminCallRequestsCurrentPage)" />
                    <input type="submit" value="Não Visto" />
                </form>
            </div>
        }

        <div class="pagination">
            <form method="post" asp-page="AdminCallRequests" asp-page-handler="Page">
                <input type="hidden" name="UnseenAdminCallRequestsCurrentPage" value="@(Model.UnseenAdminCallRequestsCurrentPage)" />
                <input type="hidden" name="SeenAdminCallRequestsCurrentPage" value="@(Model.SeenAdminCallRequestsCurrentPage - 1)" />
                <input class="@(Model.SeenAdminCallRequestsCurrentPage <= 1 ? "invisible-btn" : "")" type="submit" value="<" />
            </form>

            @if (Model.TotalSeenAdminCallRequests != 0)
            {
                <span>Página @Model.SeenAdminCallRequestsCurrentPage</span>
            }

            <form method="post" asp-page="AdminCallRequests" asp-page-handler="Page">
                <input type="hidden" name="UnseenAdminCallRequestsCurrentPage" value="@(Model.UnseenAdminCallRequestsCurrentPage)" />
                <input type="hidden" name="SeenAdminCallRequestsCurrentPage" value="@(Model.SeenAdminCallRequestsCurrentPage + 1)" />
                <input class="page-btn @(Model.SeenAdminCallRequestsCurrentPage * Model.PageSize >= Model.TotalSeenAdminCallRequests ? "invisible-btn" : "")" type="submit" value=">" />
            </form>
        </div>
    </div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
}