@page "/admin/gerirItems"
@model ManageItemsModel

<div class="bigContainer">
    <div class="smallContainer">
        <h1>Remover Produto</h1>

        <form asp-page="AdminManageItems" asp-page-handler="DeleteProduct" method="post">
            <div class="smallContainerEntry">
                <select name="id" required>
                    <option value="" disabled selected>Produto</option>
                    @foreach (var product in Model.Products) {
                        <option value="@product.Id">@product.Name</option>
                    }
                </select>
            </div>

            <input type="submit" value="Remover" />
        </form>
    </div>

    <div class="smallContainer">
        <h1>Remover Tabela Técnica</h1>

        <form asp-page="AdminManageItems" asp-page-handler="DeleteTechnicalTable" method="post">
            <div class="smallContainerEntry">
                <select name="id" required>
                    <option value="" disabled selected>Tabela Técnica</option>
                    @foreach (var technicalTable in Model.TechnicalTables) {
                        <option value="@technicalTable.Id">@technicalTable.Name</option>
                    }
                </select>
            </div>

            <input type="submit" value="Remover" />
        </form>
    </div>

    <div class="smallContainer">
        <h1>Remover Categoria</h1>

        <form asp-page="AdminManageItems" asp-page-handler="DeleteProductCategory" method="post">
            <div class="smallContainerEntry">
                <select name="id" required>
                    <option value="" disabled selected>Categoria</option>
                    @foreach (var category in Model.ProductCategories) {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <input type="submit" value="Remover" />
        </form>
    </div>
</div>

<div class="bigContainer">
    <div class="smallContainer">
        <h1>Adicionar Produto</h1>

        <form asp-page="AdminManageItems" asp-page-handler="AddProduct" method="post" enctype="multipart/form-data">
            <div class="smallContainerEntry">
                <input type="text" name="Name" placeholder="Nome do Produto" required/>
            </div>
            <div class="smallContainerEntry">
                <select name="CategoryId" required>
                    <option value="" disabled selected>Categoria</option>
                    @foreach (var category in Model.ProductCategories) {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="smallContainerEntry">
                <h2>Imagem</h2>
                <input type="file" name="ImageFile" accept="image/*" placeholder="Imagem" required/>
            </div>
            <div class="smallContainerEntry">
                <h2>PDF</h2>
                <input type="file" name="PdfFile" accept=".pdf" placeholder="PDF" required/>
            </div>

            <input type="submit" value="Adicionar" />
        </form>
    </div>

    <div class="smallContainer">
        <h1>Adicionar Tabela Técnica</h1>
        
        <form asp-page="AdminManageItems" asp-page-handler="AddTechnicalTable" method="post" enctype="multipart/form-data">
            <div class="smallContainerEntry">
                <input type="text" name="Name" placeholder="Nome da Tabela" required/>
            </div>
            <div class="smallContainerEntry">
                <input type="file" name="PdfFile" accept=".pdf" placeholder="PDF" required/>
            </div>

            <input type="submit" value="Adicionar" />
        </form>
    </div>

    <div class="smallContainer">
        <h1>Adicionar Categoria</h1>

        <form asp-page="AdminManageItems" asp-page-handler="AddProductCategory" method="post">
            <div class="smallContainerEntry">
                <input type="text" name="Name" placeholder="Nome da Categoria" required/>
            </div>

            <input type="submit" value="Adicionar" />
        </form>
    </div>
</div>