@page "/produtos/{CurrentPage?}"
@model ProductsModel

<link rel="stylesheet" href="~/css/products.css" asp-append-version="true">

<div class="productContainer">
    <h1>Produtos</h1>

    <div class="SearchAndFilter">
        <form method="post" asp-page="Products" asp-page-handler="Search">
            <input type="text" name="search" value="@Model.Search" placeholder="Procurar por Nome / Marca"/>
            <input type="hidden" name="currentPage" value=1 />
            <input type="hidden" name="filter" value="@Model.Filter" />
            <input type="submit" value="Pesquisar" />
        </form>

        <form method="post" asp-page="Products" asp-page-handler="Filter">
            <select name="filter">
                <option value=-1>Todas as Categorias</option>
                @foreach (ProductCategory category in Model.ProductCategories)
                {
                    @if (category.Id == Model.Filter)
                    {
                        <option value=@category.Id selected>@category.Name</option>
                    } else {
                        <option value=@category.Id>@category.Name</option>
                    }
                }
            </select>
            <input type="hidden" name="currentPage" value=1 />
            <input type="hidden" name="search" value="@Model.Search" />
            <input type="submit" value="Filtrar" />
        </form>
    </div>

    @if (Model.Products != null)
    {
        <div class="productsContainer">
            @if (Model.Products.Count() == 0)
            {
                <p>Não existem produtos.</p>
            }

            @foreach (Product product in Model.Products)
            {
                <div class="Product">
                    <img src="@Url.Content(@Model.GetImagePathForProductId(product.Id))" alt="@product.Name" />
                    <p>@product.Name</p>
                    <a href="@Url.Content($"~/pdfs/product_{product.Id}.pdf")" target="_blank">PDF</a>
                </div>
            }
        </div>

        <div class="pagination">
            <form method="post" asp-page="Products" asp-page-handler="Page">
                <input type="hidden" name="currentPage" value="@(Model.CurrentPage - 1)" />
                <input type="hidden" name="search" value="@Model.Search" />
                <input type="hidden" name="filter" value="@Model.Filter" />
                <input class="@(Model.CurrentPage <= 1 ? "invisible-btn" : "")" type="submit" value="<" />
            </form>

            @if (Model.TotalProducts != 0)
            {
                <span>Página @Model.CurrentPage</span>
            }

            <form method="post" asp-page="Products" asp-page-handler="Page">
                <input type="hidden" name="currentPage" value="@(Model.CurrentPage + 1)" />
                <input type="hidden" name="search" value="@Model.Search" />
                <input type="hidden" name="filter" value="@Model.Filter" />
                <input class="page-btn @(Model.CurrentPage * Model.PageSize >= Model.TotalProducts ? "invisible-btn" : "")" type="submit" value=">" />
            </form>
        </div>
    }

</div>